<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top animated">
  <a class="navbar-brand" href="/">T R A S H H C A S H H</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" onclick="getToDivision('home');">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="a_what">
        <a class="nav-link" href="javascript:void(0);" onclick="getToDivision('what');">What is TrashhCashh?</a>
      </li>
      <li class="nav-item" id="a_how">
        <a class="nav-link" href="javascript:void(0);" onclick="getToDivision('how');">How it works?</a>
      </li>
      <li class="nav-item" id="a_bin">
        <a class="nav-link" href="javascript:void(0);" onclick="getToDivision('bin');">Bins</a>
      </li>
      <li class="nav-item" id="a_why">
        <a class="nav-link" href="javascript:void(0);" onclick="getToDivision('why');">Why Us?</a>
      </li>
      <li class="nav-item" id="a_about">
        <a class="nav-link" href="javascript:void(0);" onclick="getToDivision('about');">About Us</a>
      </li>
      <li class="nav-item" id="a_team">
        <a class="nav-link" href="javascript:void(0);" onclick="getToDivision('team');">Team</a>
      </li>
      <li class="nav-item" id="a_contact">
        <a class="nav-link" href="javascript:void(0);" onclick="getToDivision('contact');">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>