<div class="row">
	<div class="col-lg-4 text-center">
		<center>
			<a class="img" href="#">
				<div class="img__overlay img__overlay--green">Shubham</div>
				<img src="static/img/profile/shubham.JPG"/>
			</a>
		</center>
		<p class="text-center text-primary">
			Shubham Singh<br>
			<small class="text-secondary">CEO</small><br>
			<small class="text-secondary">Co-Founder</small>
		</p>
		<div class="socialProfile">
            <a href="https://www.facebook.com/profile.php?id=100005010692549" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/shubhhh1897/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/shubham-singh-22b339148/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://plus.google.com/112554152210382196016" target="_blank"><i class="fab fa-google-plus-g"></i></a>
        </div>
	</div>
	<div class="col-lg-4">
		<center>
			<a class="img" href="#">
				<div class="img__overlay img__overlay--green">Mudit</div>
				<img src="static/img/profile/mudit.JPG"/>
			</a>
		</center>
		<p class="text-center text-primary">
			Mudit Agrawal<br>
			<small class="text-secondary">CFO</small><br>
			<small class="text-secondary">Co-Founder</small>
		</p>
		<div class="socialProfile">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a>
        </div>
	</div>
	<div class="col-lg-4">
		<center>
			<a class="img" href="#">
				<div class="img__overlay img__overlay--green">Vrishabh</div>
				<img src="static/img/profile/vrishabh.JPG"/>
			</a>
		</center>
		<p class="text-center text-primary">
			Vrishabh Verma<br>
			<small class="text-secondary">COO</small><br>
			<small class="text-secondary">Co-Founder</small>
		</p>
		<div class="socialProfile">
            <a href="https://www.facebook.com/vrishabh.vermaa" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/vvrishabh/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/vrishabh98" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/vrishabh-verma-20a9698a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://plus.google.com/101852076685868204673" target="_blank"><i class="fab fa-google-plus-g"></i></a>
        </div>
	</div>
</div>

<div class="row" style="display:none;">
	<div class="col-lg-2"></div>
	<div class="col-lg-4">
		<center>
			<a class="img" href="#">
				<div class="img__overlay img__overlay--green">Jitendra</div>
				<img src="static/img/profile/jitendra.jpg"/>
			</a>
		</center>
		<p class="text-center text-primary">
			Jitendra Nirnejak<br>
			<small class="text-secondary">CTO</small>
		</p>
	</div>
	<div class="col-lg-4">
		<center>
			<a class="img" href="#">
				<div class="img__overlay img__overlay--green">Nishant</div>
				<img src="static/img/profile/nishant.jpg"/>
			</a>
		</center>
		<p class="text-center text-primary">
			Nishant Sahu<br>
			<small class="text-secondary">Front-End Developer</small>
		</p>
	</div>
	<div class="col-lg-2"></div>
</div>
<br>